NODE_ENV=development
TURSO_DATABASE_URL=http://127.0.0.1:8080
TURSO_AUTH_TOKEN=123
BETTER_AUTH_SECRET=123
BETTER_AUTH_URL=http://localhost:3000
AUTH_GITHUB_CLIENT_ID=123
AUTH_GITHUB_CLIENT_SECRET=123
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
S3_ENDPOINT=http://localhost:9000